# واتساب بوت الإعدادات
BOT_NAME=NIKOLAS BOT
BOT_OWNER=+212629546024

# المنطقة الزمنية
TIMEZONE=Africa/Casablanca

# وضع التطوير
DEBUG=false

# قاعدة البيانات
DB_PATH=./database

# معرف الجلسة
SESSION_ID=bot_session
